# Grab Thyroid Dataset From URL and Save as CSV

In [1]:
import numpy 
import pandas

In [2]:
# load the dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/new-thyroid.csv'

In [3]:
df = pandas.read_csv(url, header = None)

In [4]:
df.head()

     0     1    2    3    4  5
0  107  10.1  2.2  0.9  2.7  1
1  113   9.9  3.1  2.0  5.9  1
2  127  12.9  2.4  1.4  0.6  1
3  109   5.3  1.6  1.4  1.5  1
4  105   7.3  1.5  1.5 -0.1  1

In [5]:
df.describe()

                0           1           2           3           4           5
count  215.000000  215.000000  215.000000  215.000000  215.000000  215.000000
mean   109.595349    9.804651    2.050233    2.880000    4.199070    1.441860
std     13.145447    4.697362    1.419486    6.118031    8.070519    0.726737
min     65.000000    0.500000    0.200000    0.100000   -0.700000    1.000000
25%    103.000000    7.100000    1.350000    1.000000    0.550000    1.000000
50%    110.000000    9.200000    1.700000    1.300000    2.000000    1.000000
75%    117.500000   11.300000    2.200000    1.700000    4.100000    2.000000
max    144.000000   25.300000   10.000000   56.400000   56.300000    3.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       215 non-null    int64
 1   1       215 non-null    float64
 2   2       215 non-null    float64
 3   3       215 non-null    float64
 4   4       215 non-null    float64
 5   5       215 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 10.2 KB