In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_california_housing
%matplotlib inline

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.1.0

In [4]:
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')

Train/Test Split

In [5]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [6]:
train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
38,60.0,0,2656,1,30,0,305000.0,2.3,137,1,0,30,0
3,50.0,1,111,0,20,0,210000.0,1.9,137,1,0,7,1
258,45.0,1,66,1,25,0,233000.0,0.8,135,1,0,230,0
289,90.0,1,337,0,38,0,390000.0,0.9,144,0,0,256,0
37,82.0,1,855,1,50,1,321000.0,1.0,145,0,0,30,1

In [7]:
train.to_numpy()

array([[6.000e+01, 0.000e+00, 2.656e+03, ..., 0.000e+00, 3.000e+01,
        0.000e+00],
       [5.000e+01, 1.000e+00, 1.110e+02, ..., 0.000e+00, 7.000e+00,
        1.000e+00],
       [4.500e+01, 1.000e+00, 6.600e+01, ..., 0.000e+00, 2.300e+02,
        0.000e+00],
       ...,
       [7.000e+01, 1.000e+00, 1.710e+02, ..., 1.000e+00, 1.460e+02,
        0.000e+00],
       [7.500e+01, 0.000e+00, 9.900e+01, ..., 0.000e+00, 1.620e+02,
        1.000e+00],
       [6.500e+01, 1.000e+00, 1.600e+02, ..., 0.000e+00, 8.000e+00,
        1.000e+00]])